#Searchbar {
    width:100%;
    display:grid;
    grid-template: 80px / 1fr 2fr 1fr;
    gap:1em;

    & nav ul {
        list-style:none;
        margin:0;
        padding:0;
        display:flex;
        gap: .5em;
        justify-content:end;
        flex-wrap:wrap;
    }
}

form {
    width:100%;
    height:40px;
    display: flex;
    justify-content: center;

    & input, button {
        background-color: #444;
        border:1px solid #666;
    }
    & input {
        width:100%;
        max-width: 480px;
        padding:0 12px;
        border-right:none;
        border-radius: 6px 0 0 6px;
    }

    & button {
        border-left:none;
        border-radius: 0 6px 6px 0;
    }
}
