#results-list {
    max-width:860px;
    margin:0 auto;

    & ul {
        list-style: none;
        
    }
}

/* Initial styling */

main {
  padding: 16px 32px;
}

section ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 16px;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
}

li {
    width:45%;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #333333;
  border: 1px solid rgb(160, 160, 160);
}

input, button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgb(160, 160, 160);
}

.search-meta {
  color: rgba(255, 255, 255, 0.5)
}
